body {
	background: linear-gradient(90deg, #6a3093 0%, #a044ff 100%);
	font-family: 'Oswald', 'Futura', sans-serif;
	font-size: medium;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	padding: 10px;
	color: white;
	background-color:purple;
}